---
import { Icon } from "astro-icon/components";

const {
  buttons,
  buttonClass = "btn btn-primary",
  className = "",
  vertical = false,
} = Astro.props;

const buttonList = Array.isArray(buttons) ? buttons : [buttons];
---

{
  buttons && (
    <div
      class={`flex gap-2 ${vertical ? "flex-col" : "flex-row"} ${className}`}
    >
      {buttonList.map(
        (
          { text, href, icon, buttonClass: itemButtonClass },
          index,
        ) => {
          const cls = (itemButtonClass || buttonClass).trim();

          return (
            <button
              id={`button-${index}`}
              class={`${cls} whitespace-normal inline-flex`}
              aria-label={text}
              type="button"
            >
              <div class="flex flex-wrap items-center gap-2 justify-center">
                {icon && <Icon name={icon} class="h-5 w-5 flex-shrink-0" />}
                <span class="break-words text-center">{text}</span>
              </div>
            </button>
          );
        },
      )}
    </div>
  )
}
